{% set groups = [
	{
		title: 'LifterLMS Logo',
		items: [
			{
				title: 'Color',
				alt: 'LifterLMS Logo',
				bg: 'bg-transparent',
				size: 'medium',
				src: 'logo/lifterlms-logo'
			},
			{
				title: 'White on Gradient',
				alt: 'LifterLMS Logo (on gradient)',
				bg: 'bg-gradient',
				size: 'medium',
				src: 'logo/lifterlms-logo-white'
			}
		]
	},
	{
		items: [
			{
				title: 'Color on Grey',
				alt: 'LifterLMS Logo (on Grey)',
				bg: 'bg-grey-light',
				size: 'small',
				src: 'logo/lifterlms-logo-bg-grey'
			},
			{
				title: 'Color on White',
				alt: 'LifterLMS Logo (on White)',
				bg: '',
				size: 'small',
				src: 'logo/lifterlms-logo-bg-white'
			},
			{
				title: 'White on Blue',
				alt: 'LifterLMS Logo (on Blue)',
				bg: 'bg-blue',
				size: 'small',
				src: 'logo/lifterlms-logo-white-bg-blue'
			},
			{
				title: 'White',
				alt: 'LifterLMS Logo (White)',
				bg: 'bg-transparent-dark',
				size: 'small',
				src: 'logo/lifterlms-logo-white'
			},
			{
				title: 'Black',
				alt: 'LifterLMS Logo (Black)',
				bg: 'bg-transparent',
				size: 'small',
				src: 'logo/lifterlms-logo-black'
			},
			{
				title: 'Grey',
				alt: 'LifterLMS Logo (Grey)',
				bg: 'bg-transparent',
				size: 'small',
				src: 'logo/lifterlms-logo-grey'
			}

		]
	},
	{
		title: 'LifterLMS Icon',
		items: [
			{
				title: 'Color',
				alt: 'LifterLMS Icon',
				bg: 'bg-transparent',
				size: 'medium',
				src: 'icon-square/lifterlms-icon-square'
			},
			{
				title: 'White on Gradient',
				alt: 'LifterLMS Icon (on gradient)',
				bg: 'bg-gradient',
				size: 'medium',
				src: 'icon-square/lifterlms-icon-white-square'
			}
		]
	},
	{
		items: [
			{
				title: 'Color on Grey',
				alt: 'LifterLMS Icon (on Grey)',
				bg: 'bg-grey-light',
				size: 'small',
				src: 'icon-square/lifterlms-icon-square-bg-grey'
			},
			{
				title: 'Color on White',
				alt: 'LifterLMS Icon (on White)',
				bg: '',
				size: 'small',
				src: 'icon-square/lifterlms-icon-square-bg-white'
			},
			{
				title: 'White on Blue',
				alt: 'LifterLMS Icon (on Blue)',
				bg: 'bg-blue',
				size: 'small',
				src: 'icon-square/lifterlms-icon-white-square-bg-blue'
			},
			{
				title: 'White',
				alt: 'LifterLMS Icon (White)',
				bg: 'bg-transparent-dark',
				size: 'small',
				src: 'icon-square/lifterlms-icon-white-square'
			},
			{
				title: 'Black',
				alt: 'LifterLMS Icon (Black)',
				bg: 'bg-transparent',
				size: 'small',
				src: 'icon-square/lifterlms-icon-black-square'
			},
			{
				title: 'Grey',
				alt: 'LifterLMS Icon (Grey)',
				bg: 'bg-transparent',
				size: 'small',
				src: 'icon-square/lifterlms-icon-grey-square'
			}

		]
	}
] %}

{% for group in groups %}

	{% if group.title %}
		<h3>{{ group.title }}</h3>
	{% endif %}

	<div class="box-grid downloads">

		{% for item in group.items %}
			<div class="box none">
				<h5>{{ item.title }}</h5>
				<div class="box {{ item.bg }} w-border {{ item.size }}">
					<img src="assets/img/png/{{ item.src }}.png" alt="{{ item.alt }}">
				</div>
				<span class="caption">
					Download:
					<a href="assets/img/png/{{ item.src }}.png" download>PNG</a>
					|
					<a href="assets/img/svg/{{ item.src }}.svg" download>SVG</a>
				</span>
			</div>
		{% endfor %}

	</div>
{% endfor %}

<br><br>
<a class="button" href="assets/downloads/lifterlms-brand-assets.zip">Download All Assets</a>
