$color-blue: #466dd8;
$color-blue-alt: #2295ff;
$color-orange: #f8954f;
$color-white: #fff;
$color-grey: #808080;
$color-grey-light: #fafafa;
$color-black: #000;

$color-element-bg: #efefef;
$color-element-border: #efefef;

$bg-gradient: linear-gradient( 45deg, $color-blue-alt, $color-blue );
