body {
	font-family: $font-family-body;
	font-size: 133%;
	line-height: 1.4;
	font-weight: 300;
	@media #{$small-screen} {
		font-size: 120%;
	}
}

a, a:visited {
	color: $color-blue;
	text-decoration: none;
	transition: all 0.2s ease;
}

main a,
main a:visited {
	border-bottom: 1px solid $color-blue;
	&:hover {
		border-bottom: 2px solid $color-blue;
	}

	&.button {
		background: $color-blue;
		border-bottom: none;
		border-radius: 4px;
		color: $color-white;
		padding: 24px 24px 18px;
		line-height: 0.8;
		&:hover {
			background: darken( $color-blue, 8 );
		}
	}
}

.site-footer {
	color: $color-white;
	font-size: 70%;
	a, a:visited {
		color: $color-white;
		border-bottom: 1px solid rgba( $color-white, 0.5 );
		&:hover {
			border-bottom: 2px solid $color-white;
		}
	}
}

strong, b,
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 9px;
}

h1 {
	font-size: 44px;
}
h2 {
	font-size: 38px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 26px;
}
h5 {
	font-size: 22px;
}
h6 {
	font-size: 18px;
}


main {
	p,
	pre,
	ol,
	ul {
		margin: 0 0 18px 0;
	}
	p,
	li {
		font-size: 20px;
		max-width: 720px;
	}
	ul {
		padding: 0 0 0 18px;
		li {
			text-indent: -12px;
		}
	}
	ol, ul {
		li {
			margin: 0 0 6px;
		}
	}
	small {
		font-size: 80%;
	}
}
